{% extends 'base.html.twig' %}

{% block title %}FeelTrees{% endblock %}

{% block body %}
<div class="container-fluid" id="login">
    <div class="row justify-content-center">

            <div class="card login-form m-1">
                <div class="card-header">
                    <h2 class="h5 mb-0">Přihlášení</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="login-user">  <font-awesome-icon icon="at" class="" /></span>
                            </div>
                            <input aria-label="E-mail nebo uživatelské jméno" autofocus="" type="text" required="" class="form-control" id="inputUsername" placeholder="E-mail" value="{{ last_username }}" name="username">
                        </input>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="login-psw">  <font-awesome-icon icon="lock" class="" /></span>
                            </div>
                            <input aria-label="Heslo" type="password" required="" class="form-control" id="inputPassword" placeholder="Heslo" name="password">
                        </input>
                            <div class="form-group form-check float-left m-2">
                                <input type="checkbox" class="form-check-input" id="login-remember" checked="" name="_remember_me" />
                                <label class="form-check-label" for="login-remember">Pamatovat si mě</label>
                            </div>
                            <button type="submit" class="btn btn-primary float-right">
                                Přihlásit se
                            </button>
                        </div>

                        <input type="hidden" value="{{ csrf_token('authenticate') }}" name="_csrf_token">
                    </input><div class="alert alert-danger m-0 px-2 py-0"><font-awesome-icon icon="exclamation-circle" class="icon mr-1" />{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% else %}
                    <div class="alert alert-info m-0 px-2 py-0"><font-awesome-icon icon="info-circle" class="icon mr-1" />Zjisti <router-link to="{{ path('home_about') }}" class="alert-link">více o FeelTrees zde</router-link></div>
                    {% endif %}
                </form>
                    <div class="float-left m-1">
                        <a v-on:click="showResetForm = true" href="#psw-reset" v-if="!showResetForm && !resetSended">>
                            Zapomenuté heslo?
                        </a>
                    </div>
                    <a href="/register" v-if="!showResetForm && !resetSended">class="btn btn-primary btn-sm float-right">
                        Vytvořit účet
                    </a>
                    <div class="d-none" :class="'d-block'" name="psw-reset" v-if="showResetForm">
                        <div class="alert alert-info small m-0 mt-1 px-2 py-0"><font-awesome-icon icon="info-circle" class="icon" />
                            Vlož prosím svou e-mailovou adresu, kam obdržíš odkaz pro vytvoření nového hesla
                        </div>
                        <div class="alert alert-danger m-0 mt-2 px-2 py-0" v-if="resetError"><font-awesome-icon icon="exclamation-circle" class="icon mr-1" />
                            Tento e-mail není zaregistrován!
                        </div>
                        <div class="form-group my-2">
                            <input aria-label="E-mail pro obnovení hesla" type="email" required="" class="form-control" id="inputResetEmail" placeholder="E-mail" v-model="reset_email" name="username">
                        </input>
                            <div class="float-left m-1">
                                <a v-on:click="defaultState()" href="#">Zrušit</a>
                            </div>
                            
                            <button type="button" class="btn btn-primary btn-sm float-right" v-on:click.stop.prevent="sendReset()">
                                Obnovit heslo
                            </button>
                        </div>
                    </div>

                    <div class="alert alert-success m-0 mt-0 px-2 py-0 d-none" :class="'d-block'" v-if="resetSended"><font-awesome-icon icon="check-circle" class="icon mr-1" />
                        E-mail pro obnovení hesla byl odeslán
                    </div>
                </div>
            </div>

    </div>
</div>
{% endblock %}
